.concon {


    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(127, 127, 127, 0.5);
    bottom: 0;
}

.caro {
    width: 400px;
}

.con1 {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}